input[type=submit]{
			background-color:rgb(238,238,238);
			border:3px groove lightgray;
		}
input{
	border:1px solid;
	background-color:rgba(255,255,255,0.8);	
}
textarea{
	background-color:rgba(255,255,255,0.8);	
}
button:hover{
	background-color:#dddddd;
	cursor:pointer	
}
.uh{
	background-color:lightgray;
	font-weight:bold;
	letter-spacing:2
}
td,th{
	border:1px solid black;
}
.nb{
	border:0px;
}